html, body {
    font-family: Roboto, "Open Sans", sans-serif
}

#upload{
    max-width: 80%;
    margin: 80px auto;
    font-weight: 300;
}

#upload ul{
    padding-left: 0;
    list-style: none;
}

#upload li{
    margin-bottom: 10px;
}

#drop{
    color: #0087F7;
    font-size: 40px;
    padding: 100px 10px;
    border: 3px dashed #0087F7;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
}

#drop input{
    display: none;
}

#upload ul li {
    overflow: hidden;
}

.glyphicon-ok{
    font-size: 32px;
    color: #0087F7;
}

.glyphicon-remove{
    font-size: 32px;
    color: #0087F7;
}

#upload ul li{
    border: 3px dashed #0087F7;
    border-radius: 5px;
    padding:15px;
    height: 82px;
    position: relative;
}

#upload ul li input{
    display: none;
}

#upload ul li p{
    max-width: 322px;
    overflow: hidden;
    white-space: nowrap;
    color: #0087F7;
    font-size: 16px;
    font-weight: normal;
    position: absolute;
    top: 20px;
    /*left: 100px;*/
    left: 100px;
}

#upload ul li i{
    font-weight: normal;
    font-style:normal;
    color:#0087F7;
    display:block;
}

#upload ul li canvas{
    top: 15px;
    /*left: 32px;*/
    left: 33px;
    position: absolute;
}

#upload ul li span{
    /*width: 15px;
    height: 12px;*/
    /*background: url('../static/img/icons.png') no-repeat;*/
    position: absolute;
    top: 24px;
    right: 33px;
}

#upload ul li span{
}
/*#upload ul li.working span{*/
    /*height: 16px;*/
    /*background-position: 0 -12px;*/
/*}*/

#upload ul li.error p{
    /*color:red;*/
}
