{% extends "base.html" %}
{% block title %}{% endblock %}
{% block body %}
<div class="container">
    <div class="row">
	<div class="col-md-6 col-md-offset-3">
        <form method="post" enctype="multipart/form-data" id="upload">
            <div id="drop" class="text-center" onclick="document.getElementById('file').click();" >
                <!-- onchange="document.getElementById('upload').submit();" -->



                Drop files or click here 
            <input name="file" type="file" id="file"/>
            </div>
            <ul>
                <!-- The file upload will be here -->
            </ul>
            <!--<input type="submit" value="upload">-->
        </form>
        <div id="file-list"></div>
        {% with errors = get_flashed_messages(category_filter=["success"]) %}
        {% if errors %}
            {% for msg in errors %}
                <input id="foo" value="{{ msg }}">
                <button class="btn" data-clipboard-target="#foo">
                    <span>Copy</span>
                </button>
            {% endfor -%}
        {% endif %}
        {% endwith %}

        {% with errors = get_flashed_messages(category_filter=["error"]) %}
        {% if errors %}
            {% for msg in errors %}
                {{ msg }}
            {% endfor -%}
        {% endif %}
        {% endwith %}
      </div>
    </div>
</div>
{% endblock %}
